version: 0.36.1
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - allocation
streams:
  - type: DeclarativeStream
    name: allocation
    primary_key: []
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/draft-07/schema#
        additionalProperties: true
        properties:
          data:
            type: array
        required:
          - data
        type: array
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: '{{ config[''endpoint''] }}'
        path: /model/allocation
        http_method: GET
        request_parameters:
          window: '{{ stream_interval.start_time }},{{ stream_interval.end_time }}'
          reconcile: 'true'
          shareIdle: 'true'
          accumulate: 'true'
          shareNamespaces: cert-manager,istio-system,kube-system,kubecost
        request_headers: {}
        request_body_json: {}
        authenticator:
          type: NoAuth
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - data
      paginator:
        type: NoPagination
    incremental_sync:
      type: DatetimeBasedCursor
      step: P1D
      cursor_field: windws.start
      datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      lookback_window: ''
      cursor_granularity: PT1S
      start_datetime:
        type: MinMaxDatetime
        datetime: '{{ config[''start_date''] }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
      end_datetime:
        type: MinMaxDatetime
        datetime: '{{ now_utc().strftime(''%Y-%m-%dT%H:%M:%SZ'') }}'
        datetime_format: '%Y-%m-%dT%H:%M:%SZ'
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - endpoint
      - start_date
    properties:
      endpoint:
        type: string
        title: Endpoint
        default: http://kubecost-staging.prima.it
      start_date:
        type: string
        title: Start date
        format: date-time
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
    additionalProperties: true
  documentation_url: https://example.org
  type: Spec
